{% extends "base.html"%}

{% block mainContent %}
<h1>Hash Validator</h1>
<div class="container">
    
    {% if not responseHash %}
    <form action="hashcompare" method="post">
        <label for="countries">Selecciona el pais</label>
        <select name="countries" id="countries" required>
            {% for item in countries%}
                <option value="{{item['nombre']}}">{{item['nombre']}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="cycles">Selecciona el ciclo</label>
        <select name="cycles" id="cycles" required>
            {% for item in cycles%}
                <option value="{{item['valor']}}">{{item['valor']}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="anio">Selecciona el Anio</label>
        <select name="anios" id="anio" required>
            {% for item in anios%}
                <option value="{{item['valor']}}">{{item['valor']}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="studies">Selecciona el Estudio</label>
        <select name="studies" id="studies" required>
            {% for item in studies%}
                <option value="{{item['nombre']}}">{{item['nombre']}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="clients">Selecciona el Cliente</label>
        <select name="clients" id="clients" required>
            <option value=" "> </option>
            {% for item in clients%}
                <option value="{{item['nombre']}}">{{item['nombre']}}</option>
            {% endfor %}
        </select>
        <br><br>
        <button class="btn btn-primary">Enviar</button>
    </form>
    {% endif %}

    {% if responseHash %}
        <div class="hasresult">
<PRE>{{responseHash}}</PRE>
<table border="1" id="myTableResult" class="display table">
    <thead>
        <tr>
            {% for key in responseHash[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for index in responseHash%}
            <tr>
                {% for value in index.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
    {% endif %}
</div>
for

{% endblock%}
