{% extends "base.html" %}

{%block mainContent %}

        {% if (data) %}
            <div class="container mt-5 mb-3 text-center alert alert-info">
                {{ data  }}
            </div>
        {% endif %}
        

        <h1 class="h1">{{ PageName }}</h1>
        {% if (typeProcess=='login') %}
        <div class="m-5">
            <form action="upload" method="post" enctype="multipart/form-data">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile" name="file" required>
                <br>
                <button class="btn btn-primary">Enviar</button>
            </form>
        </div>
        {% elif (typeProcess=='dataViwer') %}
                <div class="container table-cont" style="width: 50vw;">
                    <form action="process" method="post" >
                        <table class="table table-bordered table-hover" border="1px">
                            
                                <tr>
                                        <td>
                                            <label for="">Imagen a Extraer</label>
                                        </td>
                                        <td>
                                            <select class="" aria-label=".form-select-lg example" name="imagen" required >
                                                <option >Opcion </option>
                                                {% for item in processResult %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                {% endfor%}
                                            </select>
                                        </td>
                                </tr>    
                                <tr>
                                    <td>
                                        <label for="">Valor comparador</label>
                                    </td>
                                    <td>
                                        <select class="" aria-label=".form-select-lg example" name="comparador" required >
                                            <option >Opcion </option>
                                            {% for item in processResult %}
                                                <option value="{{ item }}">{{ item }}</option>
                                            {% endfor%}
                                        </select>
                                    </td>
                                </tr>                         
                        </table>
                        <button class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="table-head">
                    {% if  typeProcess %}
                    <div class="">
                        <table class="table table-bordered table-hover" border="2px">
                            
                        {% for row in fileHead %}
                        <tr>
                            {#% for value in row %}
                                <td>
                                    {{ row }}
                                </td>
                            {% endfor %#}
                            <td> {{row}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
            
                    {%for line in req %}
                        {{line}}
                    {% endfor %}
                {% endif %}
                </div>
        {% endif %}

{% endblock %}