{% extends 'base.html' %}

{% block mainContent %}

{% if alerts  %}
    <script>
        Swal.fire(
            'Alert',
            '{{alerts}}',
            'warning')
    </script>
{% endif %}
<h1>Acceso </h1>
<div class="container" style="border: 2px solid black;border-radius:15px;width:min-content;background-color: lightgray;padding:1.5rem;margin:3rem auto">
    <form action="login" method="post" >
        <div class="mb-3">
            <label for="user" class="form-label">User</label>
            <input type="text" name="user" id="user" class="form-input">
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="password" name="pass" id="pass" class="form-input">
        </div>
        <button type="submit" class="btn btn-primary">Verificar</button>
    </form>
</div>

{% endblock  %}