{% extends "base.html"%}

{% block mainContent %}

<h1>Modificacion Estudios Mensuales</h1>
{%for row in studies%}

<form action="" method="post">
    <table class="table table-striped"style="width: 50vw; margin:0 auto ; padding:.5rem " >
        <thead>
            <!-- <tr><th colspan="4">Base Estudios Activos</th></tr> -->
            <tr>
                {% for studioItem in studies[0].keys() %}
                <th>{{ studioItem }}</th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {# for row in studies %#}
                    <tr>
                        {% for key, value in row.items() %}
                            <td> 
                            {% if key == 'idtabla'%}
                                <pre>{{value}}</pre>
                                <input type="hidden" name="{{key}}" value="{{value}}">
                            {% else%}
                                {% if key == 'estudio'%}
                                <select name="{{key}}" id="" required >
                                    {%for study in listEst%}
                                        <option value="{{study.nombre}}">{{study.nombre}}</option>
                                    {%endfor%}
                                </select>
                                {% else%}
                                    <input type="text" name="{{key}}" value="{{value}}" required>
                                {%endif%}
                            {%endif%}
                            </td>
                        {% endfor %}
                    </tr>
                {#% endfor %#}
                <tr>
                    <td><button type="submit" class="btn btn-primary">Actualizar</button></td>
                    <td colspan="3"><button type="button" class="btn btn-danger">Eliminar</button></td>
                </tr>
        </tbody>
    </table>
    
</form>
<br><br>
{%endfor%}
{%for x in studiesN2%}
<form action="">
    <table class="table table-striped"style="width: 50vw; margin:0 auto ; padding:.5rem ">
        <tr>
            <td>idtabla</td>
            <td>estudio</td>
            <td>descripcion</td>
            <td>idestudio</td>
        </tr>
        <tr>
            {%for val in x%}

                            <td> 
                            {% if x.index(val)==0%}
                                <pre>{{val}}</pre>
                            {% else%}
                                {% if x.index(val)==1 %}
                                <select name="estudio" id="" required >
                                    {%for study in listEst%}
                                        <option value="{{study.nombre}}">{{study.nombre}}</option>
                                    {%endfor%}
                                </select>
                                {% else%}
                                    <input type="text" name="{{key}}" value="{{val}}" required>
                                {%endif%}
                            {%endif%}
                            </td>

            <!-- <td>{{val}}</td> -->
            {%endfor%}
        </tr>
    </table>
</form>
{%endfor%}

<!-- <form action="" method="post">
    <input type="text" name="descripcion">
    <input type="text" name="descripcion">
    <input type="text" name="descripcion">
    <button type="submit">Enviar</button>
</form> -->
<button type="button" class="btn btn-warning">Nuevo</button>
{%if data != None%}
<pre>
    {{data}}
</pre>
{%endif%}
{%endblock%}