{% extends "base.html"%}

{% block headers%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{%endblock%}
{% block mainContent %}

{%if alert != None %}
<script>
    Swal.fire(
  'Attention',
  '{{alert}}'
)
setTimeout(()=>{
    window.location.href=`/studymanager`
},2500)

</script>
{% endif %}

<h1>Modificacion Estudios Mensuales</h1>
{%for row in studies%}

<form action="" method="post" class="FormCont">
    <table class="table table-striped"style="width: 50vw; margin:0 auto ; padding:.5rem " >
        <thead>
            <!-- <tr><th colspan="4">Base Estudios Activos</th></tr> -->
            <tr>
                {% for studioItem in studies[0].keys() %}
                <th>{{ studioItem }}</th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {# for row in studies %#}
                    <tr>
                        {% for key, value in row.items() %}
                            <td> 
                            {% if key == 'idtabla'%}
                                <pre>{{value}}</pre>
                                <input type="hidden" name="{{key}}" value="{{value}}" class="allidtables">
                            {% else%}
                                {% if key == 'estudio'%}
                                <select name="{{key}}" id="" required class="form-select" >
                                    {%for study in listEst%}
                                    {% if study.nombre == value %}
                                        <option value="{{study.nombre}}" selected>{{study.nombre}}</option>
                                    {% else %}
                                        <option value="{{study.nombre}}" >{{study.nombre}}</option>
                                    {% endif %}
                                    {%endfor%}
                                </select>
                                {% else%}
                                    <input type="text" name="{{key}}" value="{{value}}" required>
                                {%endif%}
                            {%endif%}
                            </td>
                        {% endfor %}
                    </tr>
                {#% endfor %#}
                <tr>
                    <td><button type="submit" class="btn btn-primary">Enviar</button></td>
                    <td colspan="3">
                        <label for="">Eliminar</label>
                        <label class="switch">
                        <input type="checkbox" name="eliminar" class="btnEliminar">
                        <span class="slider round"></span>
                      </label>
                    </td>
                </tr>
        </tbody>
    </table>
    
</form>
<br>
{%endfor%}

<!-- raw data input modification test -->
<div class="accordion " id="accordionExample" style="width: 60vw; margin:0 auto">
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#collapseTwo" 
      aria-expanded="true" 
      aria-controls="collapseTwo">
      Agregar Nuevo 
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form action="/studydata" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for studioItem in studies[0].keys() %}
                        <th>{{ studioItem }}</th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for key, value in studies[0].items() %}
                            <td> 
                            {% if key == 'idtabla'%}
                            <input type="hidden" name="{{key}}" id="idtableNewfield">
                            {% else%}
                                {% if key == 'estudio'%}
                                <select name="{{key}}" id="" required class="form-select" >
                                    {%for study in listEst%}
                                        <option value="{{study.nombre}}" >{{study.nombre}}</option>
                                    {%endfor%}
                                </select>
                                {% else%}
                                    <input type="text" name="{{key}}" value="" required>
                                {%endif%}
                            {%endif%}
                            </td>
                        {% endfor %}
                        
                    </tr>
                    <tr>
                        <td colspan="4">
                            <center>
                                <button class="btn btn-primary" style="margin: 0 auto;">Enviar</button>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" name="newEdit" value="1">
        </form>
        <br><br>
        <hr>
        <h2>Edicion Directa de Estudios </h2>
        <p>Tener cuidado y siempre agregar ID's diferentes en el campo IDTabla</p>
        <form action="/studydata" method="post">
            <textarea class="form-control" name="rawdata" id="" cols="100" rows='10' style="max-width: -webkit-fill-available;">
            {{rawcsv}}
            </textarea>
            <br>
        <button class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
    <script>
        

var btnEliminar = document.querySelectorAll('.btnEliminar')
var FormCont= document.querySelectorAll('.FormCont input, select')
var allidtables=document.querySelectorAll('.allidtables')
arraytemp=[]
allidtables.forEach((item)=>{
    arraytemp.push(item.value)
})
lastId=arraytemp.slice(-1)
var idtableNewfield= document.getElementById('idtableNewfield')

idtableNewfield.setAttribute('value',parseInt(lastId)+1)
btnEliminar.forEach(element => {
    element.addEventListener('change', ()=>{
        for(i=0; i<FormCont.length ;i++){ 
            if ( FormCont[i].getAttribute('type')=='checkbox' || FormCont[i].getAttribute('name')=='idtabla' ){continue }
               FormCont[i].toggleAttribute("disabled",true)
               //FormCont[i].setAttribute('value','000')
        }
    })
});
    </script>
{% endblock %}
{%endblock%}