{% extends "base.html"%}

{% block mainContent %}

<form action="" method="post" class="form" style="width: 50vw; margin:0 auto ; padding:2rem ">
    <table  class="table">
        <tr>
            <td>
                ID Estudioo
            </td>
            <td>
                <input type="number" name="idEstudio" id="idEstudio"  required>
            </td>
        </tr>
        <tr>
            <td>
                Tipo Estudioo
            </td>
            <td>
                <select name="tipoEstudio" id="">
                    <option value="ice">Ice</option>
                    <option value="otro">otro</option>
                </select>
            </td>
        </tr>
    </table>
    <button  class="btn btn-primary">Enviar </button>
</form>
<pre>{{result}}</pre> 
<div>
 
</div>

{% endblock%}
